<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  
  <main class="container light-blue lighten-4">
    <div class="row">
      <div class="col s12">

        <h3>Hoi!</h3>
        
      </div>
    </div>

    <div class="row">
    
      <form method="post" action="/" class="col s12">
        <p>Please enter a location:</p>
        
        <div class="row">

          <div class="input-field col s9">
            <i class="material-icons prefix">search</i>
            <input id="search" type="search" name="search" required>
          </div>

          <div class="input-field col s3">
            <div class="btn waves-effect waves-light red">
              <i class="material-icons">delete</i>
            </div>
            <button class="btn waves-effect waves-light light-blue" type="submit">
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>
    
    <div class="row">
      <div class="col s12" id="location-box">
        <div class = "card medium light-blue lighten-3">
          <div class="card-content valign-wrapper">
            <p>
              <% if (typeof status != 'undefined') { %>
                <%= status %>
              <% } %>
            </p>
          </div>    
        </div>
      </div>
    </div>

    <div class="row">
    
      <div class = "col s12 l6">
        <div class = "card large light-blue lighten-3">      
          <div class = "card-content">
            <% if (typeof results !== 'undefined') { %>
              <span class="card-title">
              Current, <%= results.currently.time %>
              </span>
                        
              <br><p><%= results.currently.summary %></p><br>
              

              <table>
                <tbody>
                  <tr>
                    <td>Current temperature</td>
                    <td><%= results.currently.currentTemp %> &#8451;</td>
                  </tr>
                  <tr>
                    <td>Feels like</td>
                    <td><%= results.currently.feelsLike %> &#8451;</td>
                  </tr>
                  <tr>
                    <td>Humidity</td>
                    <td><%= results.currently.humidity %> %</td>
                  </tr>
                  <tr>
                    <td>UV</td>
                    <td><%= results.currently.uv %></td>
                  </tr>
                  <tr>
                    <td>Pressure</td>
                    <td>TODO</td>
                  </tr>
                </tbody>
              </table>
            <% } %>
           
          </div>    
        </div>
      </div>

      <div class = "col s12 l6">
        <div class = "card large light-blue lighten-3">      
          <div class = "card-content">
            <span class="card-title">Next 24 hours</span>
            <br>
            <table>
              <tr>
                <th></th>
                <th>+1</th>
                <th>+3</th>
                <th>+6</th>
                <th>+9</th>
                <th>+12</th>
                <th>+18</th>
                <th>+24</th>
              </tr>
              <tr>
                <th>temp min</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>temp max</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>precip %</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>precip mm</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
            </table>

          </div>    
        </div>
      </div>
    </div>

    <div class="row">
      <div class = "col s12 l6">
        <div class = "card large light-blue lighten-3">      
          <div class = "card-content">
            <span class="card-title">Next week</span>
            
            <table>
              <tr>
                <th></th>
                <th>+1</th>
                <th>+2</th>
                <th>+3</th>
                <th>+4</th>
                <th>+5</th>
                <th>+6</th>
                <th>+7</th>
              </tr>
              <tr>
                <th>temp min</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>temp max</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>precip %</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
              <tr>
                <th>precip mm</th>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
                <td>1234</td>
              </tr>
            </table>

          </div>    
        </div>
      </div>

      <div class = "col s12 l6">
        <div class = "card large light-blue lighten-5 hide-on-med-and-down">
          <div class = "card-content">
            <span class="card-title">Map</span>
            <p>This card will be hidden on medium and small screens.</p>
          </div>    
        </div>
      </div>  

    </div>

  </main>

  <% include partials/footer.ejs %>
  <% include partials/scripts.ejs %>
</body>
</html>