<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>

<body>
  <% include partials/header.ejs %>
  
  <main class="container light-blue lighten-4">
    <div class="row">
      <div class="col s12">

        <h3>Hoi!</h3>
        
      </div>
    </div>

    <div class="row">
    
      <form method="post" action="/" class="col s12">
        <p>Please enter a location:</p>
        
        <div class="row">

          <div class="input-field col s9">
            <i class="material-icons prefix">search</i>
            <input id="search" type="search" name="search" required>
          </div>

          <div class="input-field col s3">
            <div class="btn waves-effect waves-light red">
              <i class="material-icons">delete</i>
            </div>
            <button class="btn waves-effect waves-light light-blue" type="submit">
              <i class="material-icons right">send</i>
            </button>
          </div>

        </div>
      </form>
    </div>
    
    <div class="row">
      <div class="col s12" id="location-box">
        <div class = "card medium light-blue lighten-3">
          <div class="card-content">
            <p>
              <% if (typeof status != 'undefined') { %>
                <%= status %>
              <% } %>
            </p>
          </div>    
        </div>
      </div>
    </div>

    <div class="row">
    
      <div class = "col s12 l6">
        <div class = "card medium light-blue lighten-3">      
          <div class = "card-content">
            <span class="card-title">Current</span>
            
            <% if (typeof results !== 'undefined') { %>
              <p><%= results.currently.summary %></p>
              <%= results.currently.time %><br>
              <%= results.currently.currentTemp %><br>
              <%= results.currently.feelsLike %><br>
              <%= results.currently.humidity %><br>
              <%= results.currently.uv %><br>
            <% } %>
           
          </div>    
        </div>
      </div>

      <div class = "col s12 l6">
        <div class = "card medium light-blue lighten-3">      
          <div class = "card-content">
            <span class="card-title">Forecast (TODO)</span>
            <p>Irure in laboris sunt ipsum esse eu occaecat elit ipsum laborum eu velit qui. Reprehenderit consectetur minim excepteur dolor sint nostrud ex velit nostrud dolor. Laborum ad ea aute exercitation. Laboris labore consequat velit eu velit.</p>
          </div>    
        </div>
      </div>

    </div>

    <div class="row">
    
      <div class = "col s12 l6">
        <div class = "card medium light-blue lighten-5 hide-on-med-and-down">
          <div class = "card-content">
            <span class="card-title">Map</span>
            <p>This card will be hidden on medium and small screens.</p>
          </div>    
        </div>
      </div>  

    </div>

  </main>

  <% include partials/footer.ejs %>
  <% include partials/scripts.ejs %>
</body>
</html>